nav(class='navbar navbar-inverse')
    div(class='container-fluid')
        div(class='navbar-header')
            a(class='navbar-brand', href='/') SDE Meeting Portal
        div(class='navbar-right')
            if req.isAuthenticated()
                p(class='navbar-text')= 'Signed as ' + req.user.email
                a(class='btn btn-default navbar-btn', href='/logout') Logout
            else
                a(class='btn btn-default navbar-btn', href='/') Login