extends ../layout.jade

block content
    div(class='page-header')
        h1 Meeting summary
    p.
        The meeting has already ended.
    h2 Meeting details
    p.
        #[strong Meeting name: ]
        #{meeting.name}
    p.
        #[strong Organizer: ]
        #{meeting.organizer.email}
    p.
        #[strong Start date: ]
        #{new Date(Date.parse(meeting.startDate)).toLocaleString()}
    p.
        #[strong End date: ]
        #{new Date(Date.parse(meeting.endDate)).toLocaleString()}


