extends ../layout.jade

block content
    h2= meeting.name
    div
        ul(class='nav nav-tabs', role='tablist')
            li(role='presentation', class='active')
                a(href='#chat', aria-controls='chat', role='tab', data-toggle='tab') Chat
            li(role='presentation')
                a(href='#video', aria-controls='video', role='tab', data-toggle='tab') Video

        div(class='tab-content')
            div(role='tabpanel', class='tab-pane active', id='chat')
                div(class='tab-content')
                    div(class='row')
                        div(class='col-md-12')
                            div(class='input-group')
                                input(type='text', class='form-control', placeholder='Message', id='chat-message')
                                span(class='input-group-btn')
                                    button(class='btn btn-default', type='button', id='send-message') Send
                    div(id='chat-messages', class='padding-top-10')

            div(role='tabpanel', class='tab-pane', id='video')
                div(class='tab-content', id='remote')
                    video(id='local-video', autoplay)

    script(src='/socket.io-client/socket.io.js')
    script(src='/webrtc-adapter/adapter-1.1.0.js')
    script.
        const MEETING_ID = "#{meeting.id}";
        const USER_EMAIL = "#{req.user.email}";
        const USER_ID = "#{req.user.id}";
    script(src='/js/meeting.js')


