.navbar .container-fluid {
    padding-right: 40px;
}

.tab-content {
    padding-top: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.message, .message-right {
    padding: 5px;
}

.message-right {
    text-align: right;
}